# Python
__pycache__
.vscode
.github/*
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.jsonl

# Data
data
data_low
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Demo
serve_images/
data/preprocess.py
data/json_feat_2.1.0/pp.vocab
